  <h2>Get your meal delivered to your doorstep in minutes.</h2>

  <% @foodItems.each do |foodItem| %>
  <a href="<%= food_path(foodItem) %>">
    <li>
      <%= foodItem.title %>
    </li>
  <% end %>
  <%= link_to "New Food Entry", new_food_path %>