<h1><%= @foodItem.title %></h1>

<p><%= @foodItem.price %></p>

<ul>
  <li><%= link_to "Edit", edit_food_path(@foodItem) %></li>
  <li><%= link_to "Destroy", food_path(@foodItem), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>